/*header*/
.logo {
	margin: 30px 0 0 30px;
	display: inline-block;
}
.nav {
	display: inline-block;
	margin: 36px;
	margin-left: 50px;
	vertical-align: top;
}
.nav-list {
	font-size: 22px;
	display: inline-block;
	margin-right: 18px;
}
.nav-a {
	color: #3D58A6;
}
/*home-section*/
.banner {
	width: 1170px;
	height: 460px;
	border: 4 double silver;
	margin: 77px auto 0 auto;
}
.fullblock {
	width: 1170px;
	margin: 117px auto 0 auto;
}
.title-blocks {
	font-size: 24px;
}
.block1 {
	width: 570px;
	background-color: #F2F2F2;
	display: inline-block;
	margin-top: 30px;
}
.block2 {
	width: 570px;
	background-color: #F2F2F2;
	display: inline-block;
	margin-top: 30px;
}
.block-titles {
	font-size: 22px;
	color: #3D58A6;
	margin-bottom: 13px;
}
.block-img {
	display: inline-block;
}
.text-block {
	display: inline-block;
	width: 335px;
	vertical-align: top;
	margin-left: 62px;
	font-size: 20px;
}
/*footer*/
.footer {
	width: 1170px;
	margin: 70px auto 0 auto;
}
.foot-icon {
	display: inline-block;
	margin-right: 35px;
}
.stick {
	width: 2px;
	height: 30px;
	background-color: #3D58A6;
	display: inline-block;
	margin-right: 26px;
}